<?xml version='1.0' encoding='utf-8'?>
<widget id="com.hm.com" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
	<name>Horse Monkey</name>
    <author email="contact@horsemonkey.com" href="https://horsemonkey.com">
        HorseMonkey Team
    </author>
    <description>
        App mobile to find and register in UK Horse Events
    </description>
    <content src="index.html" />
    <preference name="loglevel" value="DEBUG" />
    <feature name="App">
        <param name="android-package" value="org.apache.cordova.App" />
    </feature>
    <feature name="NetworkStatus">
        <param name="android-package" value="org.apache.cordova.networkinformation.NetworkManager" />
    </feature>
    <feature name="SplashScreen">
        <param name="android-package" value="org.apache.cordova.splashscreen.SplashScreen" />
    </feature>
    <feature name="PayPalMobile">
        <param name="android-package" value="com.paypal.android.sdk.phonegap.PayPalMobilePGPlugin" />
    </feature>
     <feature name="File">
       <param name="android-package" value="org.apache.cordova.file.FileUtils" />
       <param name="onload" value="true" />
    </feature>
    <feature name="FileTransfer">
        <param name="android-package" value="org.apache.cordova.filetransfer.FileTransfer" />
    </feature>
	<feature name="FileOpener">
        <param name="android-package" value="de.rwthaachen.rz.rwthapp.plugins.fileopener.FileOpener" />
    </feature>	
	<feature name="Geolocation">
        <param name="android-package" value="org.apache.cordova.geolocation.GeoBroker" />
    </feature>
    <preference name="show-splash-screen-spinner" value="false" />
    <preference name="android-minSdkVersion" value="8" />
    <gap:splash src="splash.png" />
    <icon gap:density="ldpi" gap:platform="android" src="images/icons/android/ic_launcher_ldpi.png" />
    <icon gap:density="mdpi" gap:platform="android" src="images/icons/android/ic_launcher_mdpi.png" />
    <icon gap:density="hdpi" gap:platform="android" src="images/icons/android/ic_launcher_hdpi.png" />
    <icon gap:density="xhdpi" gap:platform="android" src="images/icons/android/ic_launcher_xhdpi.png" />
    <icon gap:density="xxhdpi" gap:platform="android" src="images/icons/android/ic_launcher_xxhdpi.png" />
    <icon gap:density="xxxhdpi" gap:platform="android" src="images/icons/android/ic_launcher_xxxhdpi.png" />
    <gap:splash gap:density="ldpi" gap:platform="android" src="images/splash/screen-ldpi-portrait.png" />
    <gap:splash gap:density="mdpi" gap:platform="android" src="images/splash/screen-mdpi-portrait.png" />
    <gap:splash gap:density="hdpi" gap:platform="android" src="images/splash/screen-hdpi-portrait.png" />
    <gap:splash gap:density="xhdpi" gap:platform="android" src="images/splash/screen-xhdpi-portrait.png" />
    <access origin="*" />
  
</widget>
